.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
  
  .modal-overlay {
    background: #ececec;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }
  
  .modal-content {
    height:90%;
    width: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    background-color:tomato;
  }
  
  button {
    padding: 7px;

  
    font-size: large;
    float: right;
    cursor: pointer;
    background:transparent;
    border:none;
    color:red;
  }

