.container .carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
 
  }
  

  

  
  .container .carousel  img {
    max-width:30vh;
    min-heigth:20vw;
    object-fit:cover ;
    
    box-shadow: rgba(2, 0, 0, 0.842) 0px -4px 15px 1px;
  }
  

 
