
  
   .container .carousel{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width:82%;
     overflow-x: auto;
     scroll-behavior:smooth ; 
   
   
   
   }
   
   .container .carousel::-webkit-scrollbar {
   
     display: none;
   }
   
   .container .carousel .item {
   
     
   
 
 
       
       flex: none;
 
   }
   
   .container .carousel .item .image img {
     width: 35vh;
     height:28vw;
     object-fit:cover ;
     
     box-shadow: rgba(2, 0, 0, 0.842) 0px -4px 15px 1px;
   }
   
 
  
   .container .buttons button:first-child img {
   
     transform:rotate(180deg) ;
    
     
   }